/* ------All Common CSS Start------ */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
    text-decoration: none;
    font-family: "Azeret Mono", monospace;
}

ul, ol{
    list-style-type: none;
    font-family: "Azeret Mono", monospace;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
    font-family: "Azeret Mono", monospace;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.black_font{
    color: #0D1321;
}
.black_light_font{
    color: #0d1321b3;
}
.black_bg{
    background: #0D1321;
}
.white_font{
    color: #ffffff;
}
h1{
    font-size: 48px;
    line-height: 68px;
    font-weight: 800;

}
h2{
    font-size: 32px;
    font-weight: 800;
}
h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #0d1321b3;

}
.sub_title{
    margin-top: 24px;
}
.btn{
    font-size: 20px;
    font-weight: 600;
}
.round_corner_btn{
    border-radius: 8px;
}
.btn_border{
    border: 1px solid #0D1321;
}
.brdr_redius{
    border-radius: 16px;
}
.gray_border{
    border: 1px solid #0d132120;
}
.heading{
    max-width: 852px;
    margin: 0 auto 48px;
    text-align: center;
}
.paragraph_mr_large{
    padding-top: 16px;
    padding-bottom: 32px;
}
.div_flex{
    display: flex;
    justify-content: center;
}

.flex_direc_row{
    gap: 16px;
}
.flex_direc_col{
    flex-direction: column;
    gap: 24px;
}
.underline_btn{
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
.laguage_margin_p{
    padding-top: 10px;
    padding-bottom: 24px;
}
.light_red{
    background-color: rgba(255, 75, 31, 0.05);
}
.light_blue{
    background-color: rgba(0, 77, 232, 0.05);
}
.light_yellow{
    background-color: rgba(255, 221, 0, 0.05);
}


/* ------All Common CSS END------  */

/*------- Hero Section CSS Start -------*/
.nav_bar{
    padding: 36px 0px;
    background: #ffffff;
}
.my_name{
    font-size: 28px;
}
.nav_bar_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download_btn{
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.hero_section{
    padding-top: 26px;
    padding-bottom: 44px;
    background: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(255 255 255 / 70%);
    background-blend-mode: overlay;
}
.hero_contents{
    max-width: 998px;
    margin: 0 auto;
    text-align: center;
}
.hero_contents img{
    max-width: 240px;
    /* margin: 0 auto; */
}
.hero_sub_title{
    margin-bottom: 34px;
    padding: 0px 73px;
}
.contact_btn{
    padding: 21px 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


/*-------Hero Section CSS End------- */

/* ----------- Why Web Dev Section start----------- */
.dev_reason{
    padding-top: 74px;
    padding-bottom: 90px;
}
.dev_reason_div{
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.why_item{
    display: flex;
    padding: 48px 48px 40px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 16px;
}
.why_item_bg_1{
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
}
.why_item_bg_2{
    background: linear-gradient(90deg, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 100%);
}
.why_item_contents{
    width: 477px;
}
.why_item_img{
    width: 274px;
}
.why_item_img img{
    width: 100%;
}
.learn_btn{
    padding: 12px 20px;
}
.why_webdev_items{
    display:flex;
    flex-direction:column;
    row-gap: 32px;
}
/* ----------- Why Web Dev Section End----------- */

/* ------- My Inspiration Section Start--------  */

.inspiration{
    padding-bottom: 150px;
}
.inspiration_body{
    padding: 32px;
}
.inspiration_video{
    width: 100%;
    min-height: 550px;
}

/* ------- My Inspiration Section END--------  */

/* ---------- My current Target Section---------- */
.target{
    padding-bottom: 110px;
}
.laguage_item{
    width: 33.33%;
    padding: 40px;

}
.laguage_item img{
    width: 56px;
    margin-bottom: 24px;
}

/* ---------- My current Target Section---------- */

/* ----------  My Next Target Sction ----------  */

.next_target{
    padding-bottom: 50px;
}

.next_language_item{
    padding: 40px;
}
.next_lang_icon{
    width: 10%;
    text-align: center;
}
.next_sml_icon{
    width: 85%!important;
}
.next_lang_icon img{
    width: 100%;
}
.next_laguage_content{
    width: 90%;
}
.next_language_item.div_flex{
    justify-content: flex-start;
    align-items: center;
    gap: 26px;
}
/* ---------- My Next Target Sction ----------  */


/* footer section  */
.call_to_action{
    padding: 64px 48px; 
    background: url(../images/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    text-align: center;
    margin-bottom: 80px;
}
.cta_header{
    width: 730px;
    margin: 0px auto 24px;
}
.cta_header h2{
    color: #ffffff;
    margin-bottom: 16px;
}
.cta_header p{
    width: 606px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.7);
}
.cta_form{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.feedback_box{
    padding: 19px 20px;
    width: 548px;
    border-radius: 8px;
    border: none;
}
.feedback_box::placeholder{
    color: rgba(13, 19, 33, 0.7);
}
.submit_btn{
    width: 120px;
    padding: 17px 20px;
    color: #0D1321;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.footer_copywrite{
    padding: 32px 0px;
    background: rgba(13, 19, 33, 0.03);
}
.copywrite_text{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
}
.fcw_justify{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_icons{
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer_icons img{
    width: 32px;
    height: 32px;
}
/* footer section  */